# Encryption key
secret_key = "TODO"

[auth0]
secret = "TODO"
client_id = "TODO"
domain = "TODO"

[database]
url = "TODO"

[log]
level = "warning"
report_caller = true
output = "stdout"
loki_url = ""

[sendgrid]
apikey = ""

[tiingo]
system_token = ""

[redis]
address = ""
user = ""
password = ""


[server]
port = 3000
