# Encryption key
secret_key = "TODO"

# auth0
[auth0]
secret = "TODO"
client_id = "TODO"
domain = "TODO"

# Database
[database]
url = "TODO"

# Logging
[log]
level = "warning"
report_caller = true
output = "stdout"
loki_url = ""

# Sendgrid
[sendgrid]
apikey = ""

# tiingo
[tiingo]
system_token = ""

[server]
port = 3000
